.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in ease-in-out 400ms forwards;
          animation: fade-in ease-in-out 400ms forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.fade-out {
  -webkit-animation: fade-out ease-in-out 400ms forwards;
          animation: fade-out ease-in-out 400ms forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  --scrollbarBG: white;
  --thumbBG: #e2ded8;
}

body::-webkit-scrollbar {
  width: 8px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
  font-size: 1.25rem;
  color: black;
  background-color: #FFFFFF;
}

body.noscroll {
  overflow: hidden;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  padding-top: 2.25rem;
  padding-right: 1.5rem;
  padding-bottom: 2.25rem;
  padding-left: 1.5rem;
}

@media (min-width: 64em) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-fd-cr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flex-fd-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-fd-rr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: #020024;
  background: linear-gradient(329deg, #020024 0%, rgba(241, 241, 232, 0.612732) 0%, white 100%, #00d4ff 100%);
}

.header nav {
  padding-top: 1.625rem;
  padding-bottom: 1.625rem;
  background-color: #FFFFFF;
}

.header__toggle {
  z-index: 1;
}

.header__toggle > span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #BFDCAE;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header__toggle > span:nth-child(2) {
  width: 21px;
}

.header__toggle > span:nth-child(3) {
  width: 11px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__blank > span {
  display: block;
  width: 30px;
  height: 2px;
}

.header__logo2 img {
  width: 10.8vw;
  height: 11.7vh;
}

.header__menu {
  background-color: #F1F1E8;
  top: 0px;
  height: 100%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: fixed;
  -webkit-transform: none;
          transform: none;
}

.header__menu a {
  display: block;
  padding: 0.625rem;
  color: black;
}

.header__menu .social-media {
  margin-top: 30px;
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu .social-media img {
  width: 2rem;
}

.header__links a {
  font-size: 1.125vw;
  color: black;
  margin-left: 32px;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

.header__links :hover {
  color: #BFDCAE;
}

.header__links .active {
  color: #BFDCAE;
}

.hero {
  padding-top: 0;
}

@media (min-width: 64em) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.hero__text {
  margin: auto;
  text-align: center;
}

.hero__text h1 {
  line-height: 1.5;
  margin: 0;
  font-size: 2rem;
}

.hero__text h1 a {
  font-weight: 500;
  color: #81B214;
}

.hero__text h1 a span {
  color: #206A5D;
}

.hero__text p {
  line-height: 1.5;
}

@media (min-width: 64em) {
  .hero__text {
    width: 50%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
  }
  .hero__text h1 {
    font-size: 3vw;
  }
  .hero__text p {
    font-size: 1.5vw;
  }
}

.hero__image {
  width: 50%;
  margin: auto;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.hero__image img {
  min-height: 50%;
}

@media (min-width: 64em) {
  .hero__image {
    -webkit-transform: none;
            transform: none;
  }
}

.section__title {
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 0;
}

@media (min-width: 64em) {
  .section__title {
    font-size: 1vw;
  }
}

.section1 {
  padding-top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .section1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.section1__image {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1rem;
  min-width: 50%;
}

.section1__image image {
  min-width: 60%;
}

@media (min-width: 64em) {
  .section1__image image {
    max-width: 70%;
  }
}

@media (min-width: 64em) {
  .section1__image {
    padding-bottom: 0;
    padding: 3rem;
  }
}

.section1__text {
  width: 100%;
  height: 50%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: small;
}

.section1__text .text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .section1__text .text {
    font-size: 1.5vw;
  }
}

.section1__text .text img {
  width: 2rem;
}

@media (min-width: 64em) {
  .section1__text .text img {
    width: 3vw;
  }
}
/*# sourceMappingURL=style.css.map */