.hero{
    @include breakpoint-up(large){
        display: flex;
        flex: 1;
    }
    padding-top: 0;
    &__text{
        margin: auto;
        text-align: center;
        h1{
            line-height: 1.5;
            margin: 0;
            font-size: 2rem;
            a{
                font-weight: 500;
                color: $hijau-sedang;
                span{
                    color: $hijau-tua;
                }
            }
        }
        p{
            line-height: 1.5;
        }
       
        @include breakpoint-up(large){
            width: 50%;
            flex: 1;
            text-align: left;
            h1{
                font-size: 3vw;
            }
            p{
                font-size: 1.5vw;
            }
        }
    }
    &__image{
        width: 50%;
        margin: auto;
        transform: scale(1.5);
        img{
            min-height: 50%;
        }
        @include breakpoint-up(large){
            transform: none;
        } 
    }
}